---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import home from '../assets/Unknown-2.jpg';
import { getNetlifyContext } from '../utils';

const ctx = getNetlifyContext();
const forceWebP = ctx === 'dev';

const astroImageSnippet = `
We are a brother and sister in law (married into the same totally normal family).

Anchor & Beam Living designs and builds modern, engineered spaces using modular shipping containers. We transform great ideas into great designs, creating sustainable and versatile spaces for businesses, homes, and everything in between. Our eco-friendly approach ensures that your space is not only functional and stylish but also environmentally responsible.
`;
---

<Layout title="About Us">
    <div class="flex flex-col gap-12 sm:gap-16">
        <section class="space-y-8">
            <h1>About Us</h1>
        </section>
        <section>
            <Markdown content={astroImageSnippet} class="mb-8" />
            <figure>
                <Image src={home} alt="home" class="border-2 border-white rounded-lg" />
            </figure>
        </section>
    </div>
</Layout>
