---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
We are builders of bespoke homes made out of shipping containers.`;
---

<Layout title="Anchor & Beam Living">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Anchor & Beam Living</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://forms.gle/iLyM4iDvqxtRMuku9" class="btn btn-lg btn-primary sm:btn-wide">Take our survey!</a>
    </p>
</Layout>
